<% include header.ejs %>
<div class="container">
        <h2>Herzlich Willkommen Kevin!</h2>
        <p>Diese Webanwendung wird dich auf deinen Weg zu deinem Geburstagsgeschenk für dieses Jahr begleiten. Und keine Angst, diesmal wirst du es nicht erst in einem Jahr bekommen! ... zumindest wenn du, wie ich es dir schon angekündigt habe, die folgenden Aufgaben löst.</p>
        <p>Ich hoffe dir machen die Aufgaben Spaß, ich schreibe diese Sätze hier am Freitag Abend vor deiner Feier :D</p>
        <hr>
        <h2>Das Setting</h2>
        Ich habe mir eine Aufgabe für dich überlegt welche sowohl ein bisschen Mathematik als auch Programmierung vorausetzt. Viel Spaß beim Lösen!
        </ul>
        <hr>
        <div class="jumbotron">
          <center>
            <p>Bereit? Dann Los!</p>
            <a class="btn btn-primary btn-lg" href="/tasks">zu den Aufgaben</a>
          </center>
        </div>

	</body>
	</html>
